body {
    background-image: linear-gradient(rgba(10, 0, 0, 0.548), rgba(241, 241, 227, 0.5)),url('../asset/pattern.jpg');
    background-size: cover;
    font-family: sans-serif;
}

header {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 65px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 25px 0 black;
}

header * {
    display: inline;
}

header li {
    margin: 20px;
    color: black;
    text-decoration: none;
}

nav {
    display: block;
    margin:auto;
    text-align: center;
    width: 100%;
    font-family: arial;
    position: relative;
} 

nav ul li{
    float: right;
}

nav ul li:hover{
    background:rgb(93, 200, 219);
}

nav ul li:hover a{
    color:#000;
}

nav ul li a{
    display: block;
    padding: 25px;
    color: #fff;
    text-decoration: none;
}

article {
    background-color: white;
    margin:5px;
    padding:20px;
    border:solid 1px #000;
}

section {
    padding: 100px;
}

footer {
    background-color: black;
    height:50px;
    line-height:50px;
    background:#333;
    color:#fff;
}

footer h5 {
    color: aqua;
    text-align: center;
    
}